<!-- Html based on code from https://github.com/CoreyMSchafer/code_snippets/tree/master/Python/Flask_Blog/snippets -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>CMIYC Anonymous Blog</title>
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Catch Me If You Can - Anonymous Blog</a>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          <article class="media content-section">
            <div class="media-body">
              <form class="">
                <textarea id="CommentTextBox" cols="48" rows="4"></textarea> <br>
                <input id="PostCommentButton" type="submit" value="Post New Comment" onClick="BufferComment()"
              </form>
            </div>
          </article>
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="text/javascript">

      var interval = 1000; // This is the time between messages
      var requestPending = false;
      var commentBuffer = [];
      var intervalTimer;
      var MIN_STRING_LENGTH = 5;
      var MAX_STRING_LENGTH = 250;
      // found at https://gist.github.com/6174/6062387 for basic random string gereration
      const chars = [..."ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"];


      // send a message at a continous rate
      intervalTimer = setInterval(function() {

        // if a message is still in transit, don't send a new message
        if (requestPending) return;

        // if there are any real user posts buffered, send
        // those instead of sending noise
        if (commentBuffer.length != 0) {
          PostComment()
        }
        else { // else send a fake message
          SendOnion();
        }

        requestPending = true;
      }, interval);

      // Send a fake message
      //
      // NOTE: need to randomize the message in both characters and length
      function SendOnion() {

        var randLength = Math.floor(Math.random() * (MAX_STRING_LENGTH - MIN_STRING_LENGTH) + MIN_STRING_LENGTH);
        // found at https://gist.github.com/6174/6062387 for basic random string gereration
        var randString = [...Array(randLength)].map(i=>chars[Math.random()*chars.length|0]).join``;

        var postData = JSON.stringify({'Onion': true, 'Content': randString})
        var request = $.ajax({
          type: 'POST',
          url: 'http://localhost:5000/intro',
          data: postData,
          dataType: 'json',
          contentType: 'application/json'
        });
        request.done(function() {requestPending = false;})
      }

      // When the user tries to post a comment, the comment
      // is buffered until the next sending interval
      function BufferComment() {

        var content = document.getElementById("CommentTextBox").value;
        if (content.replace(/\s/g, '').length) {
          var postData = JSON.stringify({'Onion': false, 'Content': content })
          commentBuffer.push(postData);
        }

      }

      // Post the next most recent buffered comment
      //    This is just in case the user rapidly sends multiple comments
      //    (We should probably create a pop-up or something to prevent
      //      the user from doing this)
      function PostComment() {
        var request = $.ajax({
          type: 'POST',
          url: 'http://localhost:10000/intro',
          data: commentBuffer.shift(),
          dataType: 'json',
          contentType: 'application/json'
        });
        request.done(function() {requestPending = false;})
      }
    </script>

  </body>
</html>
